body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.cust-pad {
	padding: 3em 2em 3em 2em;
}

.navbar {
	background-color: rgba(241, 240, 238, 0.8);
	padding: 2em 1em 2em 1em;
}

.navbar a {
	color: #000;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 10px;
}

.navbar li {
 	display: inline;
}

.banner {
	background-image:url('http://i59.tinypic.com/ev9yww.jpg');
	height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}

.banner .container {
	position: relative;
	top: 250px;
}

.banner h1 {
	font-size: 36px;  
	font-family: 'Oswald', sans-serif;
	text-shadow: 2px 3px 3px #292929;
	left: 200px;
		/*-webkit-text-stroke: 1px white;*/
}

.banner p {
	font-size: 20px;
}

.about-me {
	font-size: 16px;
	border-bottom: 1px gray solid;
	background-color: rgba(241, 240, 238, 1);
}

.about-me h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	padding-bottom: 1em;
}

.skills h3 {
	font-family: 'Oswald', sans-serif;
}

.skills {
	color: rgba(241, 240, 238, 1);
	font-size: 16px;
	border-bottom: 1px gray solid;
	background-color: rgba(19, 82, 162, 1);
}

.skills img {
	max-width: 100%;
}

	@media (max-width: 420px) {
	.skills {
    width: 100%;
	}
}

.skills li {
	display: inherit;
}

.portfolio {
	/*background-color: #d3d3d3;*/
}

.portfolio h2 {
	padding: 0 0 1em 0;
	text-transform: uppercase;
	color: #000;
}

.portfolio a:link a:visited a:hover a:active {
    text-decoration: none !important;
}

.social-media {
	font-size: 18px;
	color: #000;
	background-color: rgba(241, 240, 238, 1);
	/*border-top: 1px gray solid;*/
}

.social-media a{
	/*color: #677E52;*/
}

.social-media li {
 	display: inline;
 	padding-right: 5px;
}

.footer {
	background-color: #212121;
	background-position: bottom;
	border-top: 1px solid gray;
}

.footer a {
	text-decoration: none;
	color: gray;
	font-size: 18px;
}




/** filters list **/
#filter-list {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}

#filter-list li {
  display: inline-block;
  width: auto;
  padding: 6px 10px;
	margin-right: 15px;
	font-size: 1.2em;
	cursor: pointer;
	text-shadow: 1px 1px 0 #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#filter-list li:hover {
	background: #e7e2eb;
}
#filter-list li.active {
	font-weight: bold;
	background: #d8c5e7;
}


/** portfolio list **/
#portfolio {
	display: block;
  width: 100%;
  padding: 0 12px;
  margin-bottom: 35px;
	text-align: center;
}

#portfolio .item {
	display: none;
	opacity: 0;
	width: 40%;
	vertical-align: top;
	margin-bottom: 25px;
	margin-right: 20px;
	color: #fff;
	font-size: 30px;
	text-align: center;
	-moz-box-sizing: border-box;
}
#portfolio .item a {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  background: #fff;

}
#portfolio .item img {
  padding: 3px;
  max-width: 100%;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.55);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.55);
  box-shadow: 0 1px 4px rgba(0,0,0,0.55);
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/** media queries **/
@media screen and (max-width: 720px) {
  h1 { font-size: 2.7em; }
}

@media screen and (max-width: 500px) {
  h1 { font-size: 2.0em; }
  #filter-list { padding: 0 18px; }
  #filter-list li { display: block; margin-bottom: 3px; }
  
  #portfolio { margin-bottom: 20px; }
  #portfolio .item { width: 100%; margin-bottom: 12px; margin-right: 0; }
}