.navbar.navbar-default.navbar-fixed-top
  .container
    .row
      %ul.pull-left
        %a{:href => "#"} Amy Ta
      %ul.pull-right
        %li
        %a{:href => "#portfolio"} Portfolio
        %li
        %a{:href => "http://bit.ly/1Q3J6tc", :target => "_blank"} Resume
        / %li
        / %a{:href => "/blog", :target => "_blank"} Blog
.banner
  .container
    .row
      .col-xs-6.col-xs-offset-4
        %h1 Ordinary is awfully boring.
.about-me.text-center.cust-pad
  .container
    .row
      .col-md-4.col-md-offset-4
        %h2 I market / design / build awesome things.
        %p I'm a self starter who enjoys learning new things and tackling new challenges; Technology, marketing, programming and all things curious is my cup of tea. 
        %br/
        I'm always interested in learning new things and taking on challenges.
.skills.text-center.cust-pad
  .container
    .row
      .col-md-4
        %p 
          %h3 MARKETING
        %ul
          %li Facebook Ads Manager
          %li Hootsuite
          %li Sprout Social
          %li MailChimp
          %li Google Analytics
          %li Heat maps tracking
      .col-md-4
        %p 
          %h3 DESIGN
        %ul
          %li Adobe Illustrator
          %li Photoshop
          %li InDesign
          %li Lightroom
      .col-md-4
        %p 
          %h3 TECHNICAL
        %ul 
          %li HTML
          %li CSS
          %li Java
          %li Ruby on Rails

%a{:name => "portfolio"}
.portfolio.text-center.cust-pad
  .container
    %h2 Work / Projects
    .row
      .col-md-4
        .thumbnail
          %img{:src => "images/bsc15.png"}/
        .thumbnail
          %img{:src => "images/ldv.png"}/
      .col-md-4
        .thumbnail
          %img{:src => "images/osp.png"}/
        .thumbnail
          %img{:src => "images/crg.png"}/
      .col-md-4
        .thumbnail
          = link_to image_tag('images/r2mh.png'), 'http://www.r2mediahub.com'
        .thumbnail
          = link_to image_tag('images/employd.png'), 'http://www.employd.co'
        .thumbnail
          = link_to image_tag('images/hackpoly.png'), 'http://www.facebook.com/hackpoly'

.social-media.text-center.cust-pad
  .container
    .row
      %ul
        %li I'm a social animal:
        %li
          %a{:href => "http://linkedin.com/in/nguyetta", :target => "_blank"} in      
        %li
          %a{:href => "http://twitter.com/amythuta", :target => "_blank"} t
        %li
          %a{:href => "http://instagram.com/amythuta", :target => "_blank"} ig
        %li
          %a{:href => "http://github.com/amyta", :target => "_blank"} git


%h1 Portfolio / Work
%ul#filter-list.clearfix
  %li.filter{"data-filter" => "all"} All
  %li.filter{"data-filter" => "webdesign"} Web Design
  %li.filter{"data-filter" => "illustration"} Illustration
/ @end #filter-list
%ul#portfolio
  %li.item.webdesign
    %a{:href => "http://dribbble.com/shots/1332972-projekt-x-main-site"}
      %img{:alt => "wordpress theme", :src => "images/wordpress-theme-design.jpg"}/
  %li.item.illustration
    %a{:href => "http://dribbble.com/shots/1339026-Able-and-Baker"}
      %img{:alt => "able baker space floating monkeys", :src => "images/monkeys-in-space.jpg"}/
  %li.item.illustration
    %a{:href => "http://dribbble.com/shots/1338582-Bold-As-Love"}
      %img{:alt => "jimi hendrix illustration design", :src => "images/jimi-hendrix-dribbble.jpg"}/
  %li.item.webdesign
    %a{:href => "http://dribbble.com/shots/1338364-e-commerce-13"}
      %img{:alt => "e-commerce design", :src => "images/ecommerce-website-dribbble.jpg"}/
:javascript
  $(function(){
    $('#portfolio').mixitup({
      targetSelector: '.item',
      transitionSpeed: 450
    });
  });

.footer.cust-pad
  .container
    .col-md-6.col-md-offset-3.text-center
      .row
        %p
        %a{:href => "mailto:yo@amythuta.com", :target => "_blank"} System.out.println("Hey! Let's chat over coffee.");
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
/ %script{:src => "app.js"}
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56771699-1', 'auto');
  ga('send', 'pageview');
